.gitignore
Assembly-CSharp.csproj
Library/
Logs/
ProjectSettings/
Roguelike.sln
Temp/
UserSettings/
Packages/
Assets/TextMesh Pro/
Assets/Models/3b0674ff7b073c1607975d749c051862.jpg
Assets/Models/3b0674ff7b073c1607975d749c051862.jpg.meta
Assets/Models/84d59335f8f82d3afd63c9f0b0b51302.jpg
Assets/Models/84d59335f8f82d3afd63c9f0b0b51302.jpg.meta
Assets/Models/Dungeon-Wall-Texture-Graphic-67660843-1-981948985.png
Assets/Models/Dungeon-Wall-Texture-Graphic-67660843-1-981948985.png.meta
Assets/Models/Materials.meta
Assets/Models/Materials/
Assets/Models/Models_Scene.meta
Assets/Models/Models_Scene/
Assets/Models/Mutant Run.fbx.meta
Assets/Models/Walking.fbx.meta
Assets/Models/ataque.fbx
Assets/Models/ataque.fbx.meta
Assets/Models/ataque_ujp.fbx.meta
Assets/Models/images.jpeg
Assets/Models/images.jpeg.meta
Assets/Models/istockphoto-1377965859-612x612 1.jpg
Assets/Models/istockphoto-1377965859-612x612 1.jpg.meta
Assets/Models/istockphoto-1377965859-612x612.jpg
Assets/Models/istockphoto-1377965859-612x612.jpg.meta
Assets/Models/rana_2.fbx.meta
Assets/Models/torre.fbx.meta
Assets/Prefabs/Ataque_Aura.prefab.meta
Assets/Prefabs/Enemy(area).prefab.meta
Assets/Prefabs/Enemy(cuerpo a cuerpo).prefab.meta
Assets/Prefabs/Escenario.meta
Assets/Prefabs/Escenario/
Assets/Scenes/N1.unity
Assets/Scenes/N1.unity.meta
Assets/Scenes/TestScene/NavMesh-Terreno (1).asset
Assets/Scenes/TestScene/NavMesh-Terreno (1).asset.meta
Assets/Scenes/TestScene/NavMesh-Terreno (2).asset
Assets/Scenes/TestScene/NavMesh-Terreno (2).asset.meta
Assets/Scenes/TestScene/NavMesh-Terreno (3).asset
Assets/Scenes/TestScene/NavMesh-Terreno (3).asset.meta
*.meta
*.unity